<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" content="text/html">
    <title>404</title>
    <link href="../static/css/404.css" rel="stylesheet" th:href="@{/css/404.css}">
<!--    <meta name="viewport" content="width = device-width, initial-scale=1">-->
</head>
<body>
<div class="container">
    <img alt="Error 404 bed request" class="bg" style="position: fixed ; background-position: center;background-repeat: no-repeat"
         src="../static/img/status404.png" th:src="@{/img/status404.png}">
<!--    <img alt="Error 404 bed request" class="bg" style="position: fixed ; background-position: center;background-repeat: no-repeat"-->
<!--         th:src="@{/img/status404.png}">-->

</div>
</body>
</html>