

body {
    width: 100%;
    height: 100%;
}

.bg {
    position:fixed;
    left: -1px;
    top: -1px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;    
    background-position: center;
}