<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.swu.pigeon.dao.ActivityDao">
    <insert id="submitAct" parameterType="Activity" useGeneratedKeys="true" keyProperty="id">
        insert into activity
        values (#{id},#{activityName},#{applicant},#{approver},#{startTime},#{endTime},#{status},#{submitTime})
    </insert>
    <!--save-->
    <select id="findAct" parameterType="String" resultType="Activity">
        select *
        from activity
        where applicant in (#{id})
    </select>
    <delete id="backAct" parameterType="int">
        delete from activity
        where id= #{id}
    </delete>
</mapper>