<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.swu.pigeon.dao.GovernDao">
    <!--    对用户的增删改查-->
    <select id="findUserByCompanyId" parameterType="String" resultType="User">
        select *
        from staff
        where companyId = #{companyId}
    </select>

    <select id="findUserByDept" parameterType="String" resultType="User">
        select *
        from staff
        where id in (select userId from user_group where groupId = #{department})
    </select>

    <insert id="addUser" parameterType="User">
        insert into staff value (#{id},#{username},#{dept},#{password},#{sex},#{status},#{registerTime},#{icon},#{telNumber},#{email})
    </insert>

    <delete id="deleteUser" parameterType="String">
        delete from staff where id=#{id}
    </delete>

    <update id="updateUser" parameterType="User">
        update userinfo set id=#{id},username=#{username},password=#{password},sex=#{sex},
        status=#{status},registerTime=#{registerTime},icon=#{icon},telNumber=#{telNumber},
        email=#{email},hometown=#{hometown},companyId=#{companyId},signature=#{signature},
        salary=#{salary}
        where id=#{id}
    </update>

    <select id="queryUser" parameterType="String" resultType="User">
        select * from staff where id=#{id}
    </select>

    <!--    对活动的管理(未考虑时间)-->
    <select id="findApplication" parameterType="String" resultType="Application">
        select *
        from application
        where companyId=#{companyId}
    </select>

    <update id="approveApplication" parameterType="String">
        update application
        set status=#{param2}
        where id=#{param1}
    </update>

    <!--    已签到/未签到/请假-->
    <!--    采用时间查询，当前存在于signrecord就是签到了的，存在于请假表的就是请假的，不存在于上述两个表的就是未签到的-->
    <!--    （都是一些表的查询）-->
    <select id="findSigned" parameterType="String" resultType="Record">
        select *
        from signrecord
        where to_days(signTime) = to_days(#{param2}) and companyId=#{param1}
    </select>

    <select id="findUnsigned" parameterType="String" resultType="User">
        select ss.*
        from staff ss
        WHERE ss.id not in (SELECT id FROM signrecord WHERE to_days(signTime) = to_days(#{param2})) and companyId=#{param1}
    </select>

    <!-- 签到和未签到都查询-->
    <select id="queryAll" parameterType="String" resultType="Map">
        select ss.email,sg.temperature
        from staff ss
        left join signrecord sg
        on ss.id = sg.id
        where to_days(signTime) = to_days(#{param2}) and sg.companyId=#{param1}
    </select>

    <select id="findLeaved" parameterType="String" resultType="Leave">
        select *
        from vacation
        where to_days(#{param2}) between to_days(startTime) and to_days(endTime) and companyId=#{param1}
    </select>

    <select id="leavedCount" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM vacation
        WHERE TO_DAYS(#{theTime}) BETWEEN TO_DAYS(startTime) AND TO_DAYS(endTime)
    </select>

<!--    &lt;!&ndash;    对请假的管理（未考虑时间）还要考虑其他的分类，比如已处理的和未处理的....&ndash;&gt;-->
<!--    <select id="findLeave" parameterType="String" resultType="Leave">-->
<!--        SELECT *-->
<!--        FROM vacation-->
<!--        where TO_DAYS(#{theTime}) BETWEEN TO_DAYS(startTime) AND TO_DAYS(endTime);-->
<!--    </select>-->
    <!--    对用户请假的处理-->
    <update id="approveLeave" parameterType="String">
        update vacation
        set state=#{param2}
        where id=#{param1}
    </update>

    <!--    未签到人员统计，涉及signrecord 和 staff两张表-->
    <select id="cUnsigned" parameterType="String" resultType="int">
        SELECT COUNT(*) AS unsignedCount
        FROM staff ss
        JOIN signrecord rr
        ON ss.id != rr.id
        WHERE to_days(rr.signTime) = to_days(#{theTime});
    </select>

    <!--    统计已签到人员的总数，涉及signrecord 和 staff两张表-->
    <!--    根据指定日期查询-->
    <select id="cSigned" parameterType="String" resultType="int">
        SELECT COUNT(*) AS signedCount
        FROM staff ss
        JOIN signrecord rr
        ON ss.id = rr.id
        WHERE to_days(rr.signTime) = to_days(#{theTime});
    </select>

<!--    员工在职/离职/待审核状态处理-->
<!--    审批为在职-->
    <update id="letStatusOn" parameterType="String">
        update staff
        set status="on",statusTime=current_timestamp
        where id=#{id}
    </update>
<!--    审批为离职-->
    <update id="letStatusOff" parameterType="String">
        update staff
        set status="off",statusTime=current_timestamp
        where id=#{id}
    </update>
</mapper>