<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.swu.pigeon.dao.GroupDao">
    <!--通过userId找到对应的groupId-->
    <select id="findGroupId" parameterType="String" resultType="String">
        select groupId
        from user_group
        where userId in (#{userId});
    </select>
    <!--通过userId找到对应的Group对象-->
    <select id="findGroupObject" parameterType="String" resultType="Group">
        select `group`.*
        from `group`,user_group
        where `group`.id = user_group.groupId and user_group.userId in (#{userId})
    </select>
    <!--通过groupId找到对应的用户对象-->
    <select id="findUserByGroupId" parameterType="String" resultType="User">
        select staff.*
        from staff,user_group
        where staff.id = user_group.userId and user_group.groupId in (#{groupId})
    </select>

    <select id="findUserIdsByGroupId" parameterType="String" resultType="String">
        select staff.id
        from staff,user_group
        where staff.id = user_group.userId and user_group.groupId in (#{groupId})
    </select>

<!--    管理员的操作：-->
<!--    1.插入group表-->
<!--    2.插入user_group表-->

    <insert id="addGroup" parameterType="Group">
        insert into `group` values (#{id},#{name},#{parentId},#{companyId})
    </insert>

<!--    <insert id="addUser_group" parameterType=""-->
</mapper>