<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.swu.pigeon.dao.LeaveDao">
    <!--    将记录添加到数据库-->
    <insert id="submitAct" parameterType="Leave" useGeneratedKeys="true" keyProperty="id">
        insert into leave
        values (#{id},#{leaveReason},#{userId},#{approveUser},#{startTime},#{endTime},#{state},#{submitTime})
    </insert>
    <!--save-->
    <!--    根据工号查询-->
    <select id="findAct" parameterType="String" resultType="Leave">
        select *
        from leave
        where userId in (#{userId})
    </select>
    <!--    根据编号删除-->
    <delete id="backAct" parameterType="int">
        delete from leave
        where id=#{id}
    </delete>
</mapper>