<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.swu.pigeon.dao.StatisticsViewDao">
<!--    统计各个部门员工信息-->
    <select id="dept_userNumber" parameterType="String" resultType="StatisticsCount">
    select `name` as countName, count(*) as countNumber
    from user_group ug
    join `group` gg
    on gg.companyId=#{companyId} and gg.id=ug.groupId
    GROUP BY groupId;
    </select>
<!--    统计公司男女人数情况-->
    <select id="sex_userNumber" parameterType="String" resultType="StatisticsCount">
        select sex as countName, count(*) as countNumber
        from staff sf
        join company cc
        on cc.id=#{companyId}
        GROUP BY sex;
    </select>
<!--    统计员工的家乡-->
    <select id="hometown_userNumber" parameterType="String" resultType="StatisticsCount">
        select homeTown as countName, count(*) as countNumber
        from staff sf
        join company cc
        on cc.id=#{companyId}
        GROUP BY homeTown;
    </select>
<!--    统计员工的薪资情况-->
<!--要写一个触发器：准备incomeLevel-->
    <select id="salary_userNumber" parameterType="String" resultType="StatisticsCount">
        select incomeLevel as countName, count(*) as countNumber
        from staff sf
        join company cc
        on cc.id=#{companyId}
        GROUP BY incomeLevel;
    </select>
</mapper>