<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.swu.pigeon.dao.StatisticsViewDao">
<!--    统计各个部门员工信息-->
    <select id="dept_userNumber" parameterType="String" resultType="StatisticsCount">
    select `name` as countName, count(*) as countNumber
    from user_group ug
    join `group` gg
    on gg.companyId=#{company} and gg.id=ug.groupId
    GROUP BY groupId;
    </select>


</mapper>