<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.swu.pigeon.dao.StatisticsViewDao">
<!--    统计各个部门员工信息-->
    <select id="dept_userNumber" parameterType="String" resultType="StatisticsCount">
    select `name` as countName, count(*) as countNumber
    from user_group ug
    join `group` gg
    on gg.companyId=#{companyId} and gg.id=ug.groupId
    GROUP BY groupId;
    </select>
<!--    统计公司男女人数情况-->
    <select id="sex_userNumber" parameterType="String" resultType="StatisticsCount">
        select sex as countName, count(*) as countNumber
        from staff sf
        join company cc
        on cc.id=#{companyId} and sf.companyId=cc.id
        GROUP BY sex;
    </select>
<!--    统计员工的家乡-->
    <select id="hometown_userNumber" parameterType="String" resultType="StatisticsCount">
        select homeTown as countName, count(*) as countNumber
        from staff sf
        join company cc
        on cc.id=#{companyId} and sf.companyId=cc.id
        GROUP BY homeTown;
    </select>
<!--    统计员工的薪资情况-->
    <select id="salary_userNumber" parameterType="String" resultType="StatisticsCount">
        select salary as countName, count(*) as countNumber
        from staff sf
        join company cc
        on cc.id=#{companyId} and sf.companyId=cc.id
        GROUP BY salary;
    </select>
<!--    统计员工的入职离职情况（某天）-->
    <select id="status_userNumber" parameterType="String" resultType="StatisticsCount">
        select status as countName, count(*) as countNumber
        from staff sf
        join company cc
        on cc.id=#{param1} and to_days(sf.statusTime)=to_days(#{param2}) and sf.companyId=cc.id
        GROUP BY status
    </select>
</mapper>
