<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.swu.pigeon.dao.UploadDao">
    <insert id="upload" parameterType="Upload" useGeneratedKeys="true" keyProperty="id">
        insert into picrecord values (#{id},#{userId},#{imgPath},#{companyId})
    </insert>

    <select id="findFile" parameterType="String" resultType="Upload">
        select *
        from picrecord
        where userId=#{userId}
    </select>
</mapper>