<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="cn.swu.pigeon.dao.UserDAO">

    <!--save-->
    <insert id="save" parameterType="User" >
        insert into staff values (#{id},#{username},#{dept},#{password},#{sex},#{status},#{registerTime})
    </insert>

    <!--findByUserName-->
    <select id="findByUserName" parameterType="String" resultType="User">
        select id,username,dept,password,sex,status,registerTime
        from staff where username=#{username}
    </select>

</mapper>